{% extends "base.html" %}
{% load static %}
{% block title %}
  Анфиса для друзей. Каталог мороженого
{% endblock %}
{% block content %}
<h1 class="pb-2 mb-0">Каталог мороженого</h1>
<div class="row">
{% for x in ice_cream_list %}
    <!-- Карточка товара 0 -->
    <div class="col-6 col-md-4 my-1">
      <div class="card">
        <img 
          class="img-fluid card-img-top" 
          height="400" width="300"
          src="{% static 'img/image-holder.png' %}"
        >
        <div class="card-body">           
          <h5 class="card-title">{{ x.title }}</h5>
          <p class="card-text">{{ x.description|truncatewords:10 }}
          </p>
          <!-- Ссылка на товар 0 -->
          <a class="mt-3 regular-link" href="{% url 'ice_cream:ice_cream_detail' pk=x.id %}">
            Подробнее -->           
          </a> 
        </div>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}